.login-page {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(90deg, #64ff33 0%, #00d4ff 100%);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

  .switch-to-login {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.01rem;
    margin-top: 1rem;

    &:hover {
      text-decoration: underline;
      transition: all 0.2s linear;
    }
  }

  &--title {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 1.5rem;
    text-transform: capitalize;
  }
}
